TABLEAU_SERVER_URL=https://us-east-1.online.tableau.com
TABLEAU_SITE_NAME=aladelca
TABLEAU_PAT_NAME=your-personal-access-token-name
TABLEAU_PAT_VALUE=your-personal-access-token-secret
SEC_USER_AGENT=StockAnalysis contact@example.com
